name: Test Blinking

on: [push]

jobs:
  build:

    runs-on: [self-hosted, linux]
    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
      - uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Display Python version
        run: |
          echo "Push detected"
          python3 -m pip install --upgrade pip
          pip3 install opencv-python numpy pandas matplotlib
          python3 -c "import sys; print(sys.version)"
      - name: Run Script
        run: |
          python3 /home/rpi/pololu/testbed_runner/lf_embedded_lab_testbed/lf_embedded_lab_testbed/test_lf_programs/build_led.py
